<% layout('/layouts/boilerplate') %>


    <div class="container d-flex align-items-center mt-1 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-8">
                <div class="card shadow">
                    <img src="https://viettelpost.com.vn/wp-content/uploads/2023/12/5-sao_ava-web.png"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Edit Warehouse</h5>
                        <form action="/warehouses/<%= warehouse._id %>?_method=put" class="validated-form" method="post" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="province">Province</label>
                                <input class="form-control" type="text" id="province" name="warehouse[province]"
                                    value="<%= warehouse.province %>" required>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-success">Update</button>
                                <a class="btn btn-danger" href="/warehouses/<%= warehouse._id %>">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>