<% layout('/layouts/boilerplate') %>

    <div class="row">
        <h1 class="text-center">Edit Store</h1>
        <div class="col-6 offset-3">
            <form action="/stores/<%= store._id %>?_method=put" class="validated-form" method="post" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="district">District</label>
                    <input class="form-control" type="text" id="district" name="store[district]" value="<%= store.district %>"
                        required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Update</button>
                </div>
            </form>
            <a class="btn btn-danger mb-3" href="/stores/<%= store._id %>">Cancel</a>
        </div>
    </div>