<% layout('/layouts/boilerplate') %>

    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title">
                <%= store.district %> Store
            </h4>
        </div>
        <div class="card-body">
            <a class="card-link btn btn-primary mb-3" href="/stores">All Stores</a>
        </div>
    </div>