<% layout('/layouts/boilerplate') %>
   
    <form action="/" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="packageID"><h3>Track Your Package</h3></label>
            <input class="form-control" type="text" id="packageID" placeholder="Package ID" required>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Track</button>
        </div>
    </form>